<div class="row">
	<ng-container *ngFor="let NumPrice of prices; let i = index ">
		<div class="col-lg-3 col-md-6 single-price" *ngIf="i<4">

			<div class="top-part">
				<h1 class="package-no">{{NumPrice.number}}</h1>
				<h4>{{NumPrice.title}}</h4>
				<p class="mt-10">{{NumPrice.subTitle}}</p>
			</div>
			<div class="package-list">
				<ul>
					<li *ngFor="let points of NumPrice.point">{{points}}</li>
				</ul>
			</div>
			<div class="bottom-part">
				<h1>{{NumPrice.price}}</h1>
				<a class="price-btn text-uppercase" href="#">Buy Now</a>
			</div>
		</div>

	</ng-container>
	<div class="col-md-12" *ngIf="prices.length > 4">
		<button>Load More</button>
	</div>


</div>