 <!-- #header --> 
<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a routerLinks="/home">Home</a></li>
          <li><a routerLinks="/about">About</a></li>
          <li><a routerLinks="/services">Services</a></li>
          <li><a routerLinks="/portfolio">Portfolio</a></li>
          <li><a routerLinks="/pricing">Pricing</a></li>
          <li class="menu-has-children"><a  routerLinks="/about">Blog</a>
            <ul>
              <li><a  routerLinks="/about">Blog Home</a></li>
              <li><a  routerLinks="/about">Blog Single</a></li>
            </ul>
          </li> 
          <li class="menu-has-children"><a routerLinks="/about">Pages</a>
            <ul>
              <li><a routerLinks="/about">Elements</a></li>
              <li class="menu-has-children"><a  routerLinks="/about">Level 2 </a>
                <ul>
                  <li><a routerLinks="/about">Item One</a></li>
                  <li><a  routerLinks="/about">Item Two</a></li>
                </ul>
              </li>                             
            </ul>
          </li>                                                     
          <li><a routerLinks="/about">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->            
    </div>
  </div>
</header>
<!-- #header end -->
<router-outlet></router-outlet>
<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>About Me</h4>
          <p>
            We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
          </p>
          <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Newsletter</h4>
            <p>Stay updated with our latest trends</p>
            <div class="" id="mc_embed_signup">
             <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="lnr lnr-arrow-right"></span>
                  </button>    
                </div>
                <div class="info"></div>  
              </div>
            </form> 
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h4>Follow Me</h4>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->    

