
<!-- start banner Area -->
<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6>This is me</h6>
				<h1>Philip Gilbert</h1>
				<p>
					You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.
				</p>
				<a href="#" class="primary-btn text-uppercase">discover now</a>
			</div>
			<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
				<img class="img-fluid" src="assets/img/hero-img.png" alt="">
			</div>
		</div>
	</div>          
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<section class="home-about-area pt-120">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 home-about-left">
				<img class="img-fluid" src="assets/img/about-img.png" alt="">
			</div>
			<div class="col-lg-5 col-md-6 home-about-right">
				<h6>About Me</h6>
				<h1 class="text-uppercase">Personal Details</h1>
				<p>
					Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				</p>
				<a href="#" class="primary-btn text-uppercase">View Full Details</a>
			</div>
		</div>
	</div>  
</section>
<!-- End home-about Area -->

<!-- Start services Area -->
<section class="services-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content  col-lg-7">
				<div class="title text-center">
					<h1 class="mb-10">My Offered Services</h1>
					<p>At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected.</p>
				</div>
			</div>
		</div>            
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-pie-chart"></span>
					<a href="#"><h4>Web Design</h4></a>
					<p>
						“It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.”
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-laptop-phone"></span>
					<a href="#"><h4>Web Development</h4></a>
					<p>
						If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-camera"></span>
					<a href="#"><h4>Photography</h4></a>
					<p>
						Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills.
					</p>
				</div>  
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-picture"></span>
					<a href="#"><h4>Clipping Path</h4></a>
					<p>
						Hypnosis quit smoking methods maintain caused quite a stir in the medical world over the last two decades. There is a lot of argument.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-tablet"></span>
					<a href="#"><h4>Apps Interface</h4></a>
					<p>
						Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services">
					<span class="lnr lnr-rocket"></span>
					<a href="#"><h4>Graphic Design</h4></a>
					<p>
						You’ve heard the expression, “Just believe it and it will come.” Well, technically, that is true, however, ‘believing’ is not just thinking that.
					</p>
				</div>        
			</div>                            
		</div>
	</div>  
</section>
<!-- End services Area -->  

<!-- Start fact Area -->
<section class="facts-area section-gap" id="facts-area">
	<div class="container">       
		<div class="row">
			<div class="col-lg-3 col-md-6 single-fact">
				<h1 class="counter">2536</h1>
				<p>Projects Completed</p>
			</div>
			<div class="col-lg-3 col-md-6 single-fact">
				<h1 class="counter">6784</h1>
				<p>Happy Clients</p>
			</div>
			<div class="col-lg-3 col-md-6 single-fact">
				<h1 class="counter">2239</h1>
				<p>Cups of Coffee</p>
			</div>  
			<div class="col-lg-3 col-md-6 single-fact">
				<h1 class="counter">435</h1>
				<p>Real Professionals</p>
			</div>                        
		</div>
	</div>  
</section>
<!-- end fact Area -->  

<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Latest Featured Projects</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>

		<div class="filters">
			<ul>
				<li class="active" data-filter="*">All</li>
				<li data-filter=".vector">Vector</li>
				<li data-filter=".raster">Raster</li>
				<li data-filter=".ui">UI/UX</li>
				<li data-filter=".printing">Printing</li>
			</ul>
		</div>

		<div class="filters-content">
			<div class="row grid">
				<div class="single-portfolio col-sm-4 all vector">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p1.jpg" alt="">
						</div>
						<a href="img/p1.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a>                                  
					</div>
					<div class="p-inner">
						<h4>2D Vinyl Design</h4>
						<div class="cat">vector</div>
					</div>                                         
				</div>
				<div class="single-portfolio col-sm-4 all raster">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p2.jpg" alt="">
						</div>
						<a href="img/p2.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a>                                  
					</div>
					<div class="p-inner">
						<h4>2D Vinyl Design</h4>
						<div class="cat">vector</div>
					</div>                                         
				</div>                            
				<div class="single-portfolio col-sm-4 all ui">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p3.jpg" alt="">
						</div>
						<a href="img/p3.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a> 

					</div>
					<div class="p-inner">
						<h4>Creative Poster Design</h4>
						<div class="cat">Agency</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all printing">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p4.jpg" alt="">
						</div>
						<a href="img/p4.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a>                                
					</div> 
					<div class="p-inner">
						<h4>Embosed Logo Design</h4>
						<div class="cat">Portal</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all vector">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p5.jpg" alt="">
						</div>
						<a href="img/p5.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a>                                
					</div>
					<div class="p-inner">
						<h4>3D Helmet Design</h4>
						<div class="cat">vector</div>
					</div>
				</div>
				<div class="single-portfolio col-sm-4 all raster">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/p6.jpg" alt="">
						</div>
						<a href="img/p6.jpg" class="img-pop-up">  
							<div class="middle">
								<div class="text align-self-center d-flex"><img src="assets/img/preview.png" alt=""></div>
							</div>
						</a>                                
					</div>
					<div class="p-inner">
						<h4>2D Vinyl Design</h4>
						<div class="cat">raster</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End portfolio-area Area -->  

<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Client’s Feedback About Me</h1>
					<p>It is very easy to start smoking but it is an uphill task to quit it. Ask any chain smoker or even a person.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-testimonial">
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user1.png" alt="">
					</div>
					<div class="desc">
						<p>
							Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.        
						</p>
						<h4>Harriet Maxwell</h4>
						<p>CEO at Google</p>
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user2.png" alt="">
					</div>
					<div class="desc">
						<p>
							A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
						</p>
						<h4>Carolyn Craig</h4>
						<p>CEO at Facebook</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End testimonial Area -->

<!-- Start price Area -->
<section class="price-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Choose Your Plan</h1>
					<p>When someone does something that they know that they shouldn’t do, did they.</p>
				</div>
			</div>
		</div>          
		<app-pricing></app-pricing>	
	</div>  
</section>
<!-- End price Area -->     

<!-- Start recent-blog Area -->
<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 pb-30 header-text">
				<h1>Latest posts from our blog</h1>
				<p>
					You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business
				</p>
			</div>
		</div>
		<div class="row"> 
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="assets/img/b1.jpg" alt=""> 
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="assets/img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>              
				<a href="#">
					<h4>Break Through Self Doubt
					And Fear</h4>
				</a>
				<p>
					Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.
				</p>
			</div>
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="assets/img/b2.jpg" alt=""> 
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="assets/img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>              
				<a href="#">
					<h4>Portable Fashion for
					young women</h4>
				</a>
				<p>
					You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving.
				</p>
			</div>
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="assets/img/b3.jpg" alt=""> 
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="assets/img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>              
				<a href="#">
					<h4>Do Dreams Serve As
					A Premonition</h4>
				</a>
				<p>
					So many of us are demotivated to achieve anything. Such people are not enthusiastic about anything. They don’t want to work involved.
				</p>
			</div>                        


		</div>
	</div>  
</section>
<!-- end recent-blog Area -->   

<!-- Start brands Area -->
<section class="brands-area">
	<div class="container">
		<div class="brand-wrap">
			<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/l1.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/l2.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/l3.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/l4.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/l5.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End brands Area -->      
